@charset "utf-8";
/* CSS Document */
html,body{
	font-family:  'Open Sans',Arial,Helvetica,sans-serif;
	height:100%;
	margin:0;
	background:#fff;
	text-align:center;
}
#contenedor{
	width: 960px;
	border:1px solid red;
}
#cabecera{
	width:100%;
	position:fixed;
	top:0;
	background:#FF8C00;
	height:70px;
	z-index:5;
}
/*-------------------menu-----------------*/
.navigation{
	display:inline-block;
	float:right;
	margin-top:10px;
}
.navigation li{
	color:#fff;
	display:block;
	padding: 0 10px;
	float:left;
	text-align:left;

}
.navigation li a{
	color:#fff;
	text-decoration:none;
	font:1em 'Open Sans', arial;

}
.navigation li a:hover,.active{
	cursor:pointer;
	color:#666;

}

/*-------------------submenu-----------------*/

#breadcrum {
	background-repeat:no-repeat;
	background-image:url("../img/indicet.png");
	background-position:right;
	font:bold 1em 'Open Sans', arial;
	color:#FF8C00;
text-decoration:none;
text-align:left;
	padding-left:40px;
	width:120px;
}
#linknaranja{
font:bold 1em 'Open Sans', arial;
	color:#FF8C00;
}
#linknaranja:hover{
	color:#666;
}
.submenu{
	width:100%;
	position:fixed;
	top:70px;
	background:#000;
	height:40px;
	text-align:center;
	z-index:5;
	
	
}
.subnavigation{
	display:inline-block;
	margin-top:6px;
	margin-right:5%;
	margin-bottom:0px;
	padding-left:0;

}
.subnavigation li{
	color:#fff;
	display:block;
	padding: 0 10px;
	float:left;
	text-align:left;
font:1em 'Open Sans', arial;
	height:23px;

}
.subnavigation li a{
	color:#fff;
	text-decoration:none;
	font:1em 'Open Sans', arial;

}
.subnavigation li a:hover,.active{
	cursor:pointer;
	color:#666;
}



.dreta{
	float:right;
	margin-right:25px;
}
.idiomas{
	float:right;
	margin-right:2%;
	margin-top:5px;
}

.idiomas a{
	color:#000;
	margin-left:5px;
	float:left;
	border:0;
}

.logo{
	float:left;
	display:inline-block;
	margin-left:1em;
	margin-top:-10px;
}
h1{
	color:#000;
}
h1 a{
	color:#000;
	font: 1.2em 'Roboto','Open Sans',Arial,Helvetica,sans-serif;
	margin:0;
	text-decoration:none;
}
.drive{
color:#fff;
}
h2{
padding-top:2.2em;
font-size: 3em;
font-family: 'Roboto','Open Sans',Arial,Helvetica,sans-serif;
color:#FF8C00;
}

h3{
font: 18px 'Roboto','Open Sans',arial;
color:#fff;
margin:0 auto;
padding-bottom:2em;
max-width:70%;
}

h4 a{
font: 1.5em 'Roboto','Open Sans',arial;
color:#FF8C00;
margin-bottom:0;
text-decoration:none;
}
h4 a:hover{
color:#444;
}

h5{
font: 18px arial;
color:#444;
}
h5 a{
font: 18px arial;
color:#444;
}


.slide,.slide2, .slide3{
	background-repeat:no-repeat;
	background-image:url("../img/bkc.jpg");
	height:45%;
	background-size: 100% auto;
	background-position:center bottom;
	margin-top:0;
}
.slide2{
	background-image:url("../img/mayas.jpg");
}
.slide3{
	background-image:url("../img/tokio.jpg");
		background-position:center top;

}
.primeracaja{
min-height:48%;
width:100%;
display:inline-block;
padding-top:55px;

}
.cajapagina{
min-height:100%;
width:100%;
}
.cajamediapagina{
min-height:50%;
width:100%;
background:#f1f1f1;
padding-top:55px;
}

.cajamini,.cajamini2{
	display:inline-block;
	width:320px;
	height:25%;
	padding:15px;
	margin-left:20px;
	margin-right:20px;
	vertical-align: top;

}
.cajamini2{
	text-align:left;
}


.cajaminidoble{
	display:inline-block;
	max-width:470px;
	height:auto;
	padding:15px;
	margin-left:15px;
	margin-right:15px;
text-align:left;
vertical-align: top;
}
.cajasimple{
	display:inline-block;
	max-width:940px;
	height:auto;
	padding:15px;
	margin-left:15px;
	margin-right:15px;
text-align:left;
vertical-align: top;
}
.link{
text-align:left;
}
.link a{
	font: 14px 'Roboto','Open Sans',arial;
	color:#FF8C00;
	text-decoration:none;
	text-align:left;
}

.link a:hover{
	font: 14px 'Roboto','Open Sans',arial;
	color:#444;
	text-decoration:underline;
}

.txt15{
	font: 15px 'Roboto','Open Sans',arial;
	color:#444;
	text-align:justify;
}
.txt15centro{
	font: 15px 'Roboto','Open Sans',arial;
	color:#444;
	text-align:center;
}
.txt17{
	font: 17px 'Roboto','Open Sans',arial;
	color:#444;
	text-align:justify;
}
.imagencaja{
	margin:10px;
}

.titulo{
font: 2.1em 'Roboto','Open Sans',arial;
color:#FF8C00;

}
.foto{
border:solid 1px #ccc;
padding:15px;
background:#f1f1f1;
}
.tituloleft{
font: 2.1em 'Roboto','Open Sans',arial;
color:#FF8C00;
text-align:left;
}
.textocontenido{
font: 15px 'Roboto','Open Sans',arial;
color:#444;
text-align:justify;
}
.auxtexto{
margin:0 auto;
margin-left:15%;
margin-right:15%;
margin-top:20px;
}

li{
line-height:2;
}

#pie{
	background:#444;
	min-height:300px;
	width:100%;
	margin-top:0;
}


.cajapie{
	display:inline-block;
	width:220px;
	height:25%;
	padding:15px;
	font: 14px 'Open Sans',arial;
	color:#fff;
	text-align:left;
	vertical-align: top;
}
.txtnaranja16{
font: 14px 'Roboto','Open Sans',arial;
color:#FF8C00;
}
.txtnaranja16 a{
font: 14px 'Open Sans',arial;
color:#FF8C00;
text-decoration:none;
}
.txtnaranja16 a:hover{

text-decoration:underline;
}

.txtnaranja18,.verde1,.verde2,.verde3{
font: bold 18px 'Roboto','Open Sans',arial;
color:#FF8C00;
}
.verde1{
color:#C9DE36;
}
.verde2{
color:#A2B51E;
}
.verde3{
color:#51910B;
}


.cajapie ul{
	list-style-type: none;
	padding-left:0;
}

.cajapie li a{
	font: 13px 'Roboto','Open Sans',arial;
	color:#fff;
	text-decoration:none;
}
.cajapie li img{
	font: 13px 'Roboto','Open Sans',arial;
}

.moneda,.monedatab {
font: bold 32px 'Roboto','Open Sans',arial;
color:#FF8C00;
width:130px;
margin:0 auto;
}
.monedatab {
font: bold 20px 'Roboto','Open Sans',arial;
}

.euro,.dolar,.eurotab,.dolartab{
	display:inline-block;
	width:24px;
	height:30px;
	text-align:left;
	margin-left:3px;
	vertical-align: top;
}
.radio, .radiotab{
	background-repeat:no-repeat;
	background-image:url("../img/radio.png");
	width:25px;
	height:25px;
	display:inline-block;
	cursor:pointer;
}
.radiotab{
	background-size: 100%;
	width:15px;
	height:15px;
}
.radionoactivo,.radionoactivotab{
	background-image:url("../img/radiob.png");
}
.noactivo, .noactivotab{
	display:none;
}

.seleccionada{
text-decoration:underline;
}
.dolar,.euro{
display:inline-block;
}
.tablatarifas{
	width:60%;
	margin:0 auto;
	margin-top:5px;
	margin-bottom:25px;

}
 .tablatarifas th{
	height:25px;
	font: 14px 'Open Sans',arial;
	color:#444;
	background:#aaa;
}
 .tablatarifas td{
	height:25px;
	font: 14px 'Open Sans',arial;
	color:#444;
	margin:2px;
	background:#ddd;
}

.imgpie{
margin-top:3px;
float:left;
margin-right:5px;
}

.tarifaup1,.tarifaup2,.tarifaup3{
padding-top:25px;
background:#C9DE36;
font: bold 18px 'Roboto','Open Sans',arial;
color:#fff;
display:block-line;
text-align:center;
}

.tarifaup2{
background:#A2B51E;
}
.tarifaup3{
background:#51910B;
}
.tarifadown1,.tarifadown2,.tarifadown3{
padding:25px;
background:#fff;
font: 18px 'Roboto','Open Sans',arial;
color:#444;

}
.tarifadown2{
background:#fff;
}
.tarifadown3{
background:#fff;
}
.muygrande{
font: bold 50px 'Roboto','Open Sans',arial;
color:#fff;
}

.faqsask{
font: bold 16px 'Open Sans',arial;
color:#FF8C00;
margin-top:25px;
cursor:pointer;
display:block;
margin-bottom:15px;

}
.faqanswer{
font: 16px 'Open Sans',arial;
color:#444;

}
input{
 margin-bottom:15px;
width:350px;
 -moz-user-select: none;
    background-clip: padding-box;
    background-color: #FFFFFF;
    background-image: -moz-linear-gradient(center bottom , #EEEEEE 0%, #FFFFFF 50%);
    border: 1px solid #AAAAAA;
    border-radius: 4px;
    color: #444444;
    display: block;
    height: 26px;
    line-height: 26px;
    overflow: hidden;
    padding: 0 0 0 8px;
    position: relative;
    text-decoration: none;
    white-space: nowrap;
	font:16px 'Open Sans',arial;
}

textarea{
	width:370px;
	height:120px;
	 margin-bottom:15px;
	 font:16px 'Open Sans',arial;
}
label {
color:#444;
font:16px 'Open Sans',arial;
}

select
  {
  margin-bottom:15px;
  width:360px;
  border: 1px solid #AAAAAA;
  font: 16px 'Open Sans',arial;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  background: #FFFFFF;
  background: linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -moz-linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -webkit-linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -o-linear-gradient(left, #FFFFFF, #F7F9FA);
  color: #444;
  }
  
select:hover
  {
  border-color: #5897FB;
  }
  
select option
  {
  border: 1px solid #DBE1EB;
  }
  
select option:hover
  {
  font-style: italic;
  color: #FFFFFF;
  }

.botonenvio, .botonapp{
	width:125px;
	padding-bottom:15px;
	font:16px 'Open Sans',arial;
	color:#fff;
	background:#FF8C00;
	cursor:pointer;
	text-align:center;
	margin:0 auto;
	padding-left:20px;
	padding-right:20px;
	margin-bottom:35px;
}

.botonenvio:hover, .botonapp:hover{
	background:#B4690D;
}
 .botonapp{
 width:175px;
 font:19px 'Open Sans',arial;
 	padding-bottom:10px;
 }

 #otraaplic{
  display:none;
  }
  #respuesta{
 display:none;
    background: #ddd;
    height: 100px;
    position: relative;
    width: 400px;
   	margin: 0 auto;
	border: 1px solid #FF8C00;
	border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  filter: alpha(opacity=90); 
	opacity:0.9;
	-moz-opacity:0.9; 
	-webkit-opacity:0.9;
	color:#444;
	font:24px arial;
	padding-top:50px;
	margin-top:-500px;
	text-align:center;
	
  }
  .iconclose{
	background-repeat:no-repeat;
	background-image:url("../img/iconclose.png");
	margin-top:-45px;
	height:22px;
	width:22px;
	float:left;
	cursor:pointer;
 }
 
 .abajo{

	height:35px;
	width:60px;
	margin:0 auto;
	margin-bottom:0;
	
 }
 